<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="clan.midnight.tortolla.dao.BloggerMapper">

    <select id="findById" parameterType="long" resultType="clan.midnight.tortolla.entity.Blogger">
        SELECT * FROM blogger where id=#{id};
    </select>

    <select id="findByName" parameterType="String" resultType="clan.midnight.tortolla.entity.Blogger">
        SELECT * FROM blogger where username=#{name};
    </select>

    <insert id="insert" parameterType="clan.midnight.tortolla.entity.Blogger">
        INSERT into blogger(username, password_hash, full_name, created_time) values
        (#{username}, #{passwordHash}, #{fullName}, #{createdTime});
    </insert>

    <update id="update" parameterType="clan.midnight.tortolla.entity.Blogger">
        UPDATE blogger SET username=#{userName}, password_hash=#{passwordHash}, full_name=#{fullName}
        WHERE id=#{id};
    </update>

    <delete id="delete" parameterType="long">
        DELETE from blogger where id=#{id};
    </delete>

    <select id="getId" resultType="Long">
        SELECT id FROM blogger where username=#{username} and password_hash=#{passwordHash};
    </select>
</mapper>