<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout :: site-head(#{header.tab.createpost})"></head>

<body>

<header th:replace="layout :: site-header"/>

<h1>New post.</h1>

<div class="form-container">
<form method="post" th:object="${postForm}">
    <div><label for="title" th:text="#{post.create.title}"></label></div>
    <input id="title" name="title" th:value="*{title}" type="text"/>
    <span class="formError" th:errors="*{title}"
          th:if="${#fields.hasErrors('title')}">Invalid title</span>

    <div><label for="editor" th:value="*{body}" th:text="#{post.create.body}"></label></div>
    <textarea name="body" id="editor" th:value="*{body}"></textarea>
    <span class="formError" th:errors="*{body}"
          th:if="${#fields.hasErrors('body')}">Invalid body</span>

    <div><input id="post-submit" type="submit" th:value="#{post.create.submit}"/></div>
    <input type="hidden"
           th:name="${_csrf.parameterName}"
           th:value="${_csrf.token}"/>
</form>
</div>

<script th:inline="javascript">
    ClassicEditor
    	.create(document.querySelector( '#editor' ), {
    	    language : 'zh-cn',
    	    ckfinder: {
                uploadUrl: "/posts/uploadImage"
            }
    	} )
    	.then( editor => {
    		window.editor = editor;
    	} )
    	.catch( err => {
    		console.error( err.stack );
    	} );
</script>

<footer th:replace="layout :: site-footer"/>

</body>

</html>