<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout :: site-head(${post.title})"></head>

<body>

<header th:replace="layout :: site-header"/>

<main id="posts">
    <article>
        <h2 class="title" th:text="${post.title}">DEFAULT</h2>
        <div class="date">
            <i>Posted on </i><span th:text="${#dates.format(post.createdTime, 'yyyy-MM-dd hh:mm')}">DEFAULT</span>
            <i> and last modified on </i><span th:text="${#dates.format(post.lastModifiedTime, 'yyyy-MM-dd hh:mm')}">DEFAULT</span>
            <span th:if="${post.authorId}" th:remove="tag">
                <i> by </i><span th:text="${post.authorId != null ?
                                post.authorId : post.authorId}">DEFAULT</span>
            </span>
        </div>
        <p class="content" th:utext="${post.body}">DEFAULT</p>
    </article>
</main>

<footer th:replace="layout :: site-footer"/>

</body>

</html>
