<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout :: site-head">
    <title>Welcome to Spring MVC Blog</title>
</head>

<body>

<header th:replace="layout :: site-header"/>

<h1>Tortolla</h1>
Now is: <b th:text="${#execInfo.now.time}">date and time</b>

<aside>
    <h2>Recent Posts</h2>
    <a href="#" th:each="p : ${latest5posts}" th:href="@{/posts/view/{id}/(id=${p.id})}"
       th:text="${p.title}">DEFAULT</a>
</aside>

<main id="posts">
    <article th:each="p : ${latest3posts}">
        <h2 class="title" th:text="${p.title}">DEFAULT</h2>
        <div class="date">
            <i>Posted on</i>
            <span th:text="${#dates.format(p.date, 'dd-MMM-yyyy')}">DEFAULT</span>
            <span th:if="${p.author}" th:remove="tag">
          <i>by</i>
          <span th:text="${p.author.fullName != null ?
                        p.author.fullName : p.author.username}">DEFAULT</span>
        </span>
        </div>
        <p class="content" th:utext="${p.body}">DEFAULT</p>
    </article>
</main>

<footer th:replace="layout :: site-footer"/>

</body>

</html>
