<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout :: site-head">
    <title>Welcome to Spring MVC Blog</title>
</head>

<body>

<header th:replace="layout :: site-header"/>

<h1 th:text="#{product.name}"></h1>

<aside>
    <h2 th:text="#{aside.recent}"></h2>
    <a href="#" th:each="p : ${latest5posts}" th:href="@{/posts/view/{id}/(id=${p.id})}"
       th:text="${p.title}">DEFAULT</a>
</aside>

<main id="posts">
    <article th:each="p : ${latest3posts}">
        <h2 class="title" th:text="${p.title}">DEFAULT</h2>
        <div class="date">
            <i th:text="#{post.createdon}"></i><span th:text="${#dates.format(p.createdTime, 'yyyy-MM-dd hh:mm')}"></span>
            <br/><i th:text="#{post.lastmodifiedon}"></i><span th:text="${#dates.format(p.lastModifiedTime, 'yyyy-MM-dd hh:mm')}"></span>
            <br/><span th:if="${p.authorId}" th:remove="tag">
                <i th:text="#{post.author}"></i><span th:text="${p.authorId != null ?
                                p.authorId : p.authorId}"></span>
            </span>
        </div>
        <p class="content" th:utext="${p.body}">DEFAULT</p>
    </article>
</main>

<footer th:replace="layout :: site-footer"/>

</body>

</html>
