body {
  margin: 0;
}

.wrapper {
  display: grid;
  grid-template-areas:
    "header header header"
    "sider content content"
    "sider footer footer";
  grid-template-columns: 1fr 3fr 3fr;
  grid-template-rows: auto 1fr auto;
  height: 100vh;
}

.header {
  grid-area: header;
  padding: 12px;
}

.sider {
  grid-area: sider;
  padding: 12px;
}

.content {
  grid-area: content;
  padding: 16px;
}

.footer {
  grid-area: footer;
  padding: 8px;
}

@media (max-width: 456px) {
  .wrapper {
    grid-template-columns: 1fr 5fr 5fr;
  }
  .header {
    grid-area: header;
    padding: 8px;
  }
  .sider {
    grid-area: sider;
    padding: 8px;
  }
  .content {
    padding: 12px;
  }
}
